body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

ul {
    list-style-type: none;
}

h1, nav {
    /*margin-left: 160px;*/
}

h1, h1 a {
    color: #b5b5b5;
    margin-bottom: 0;
    margin-left: 8%;
    margin-right: 0;
    font-weight: 300;
    margin-top: 5%;
    text-decoration: none;
}

div#left {
    margin-right: 20px;
}

nav#nav_bar {
    float: left;
    clear: right;
    height: 400px;
    padding-left: 0;
    margin-top: auto;
    margin-bottom: 5px;
    margin-left: 15%;
    margin-right: 5%;
}

nav#nav_bar ul#main_nav {
    padding-left: 0;
    vertical-align: bottom;
}

nav#nav_bar ul#main_nav li a {
    text-decoration: none;
    color: #b5b5b5;
    font-size: 14px;
}

nav#nav_bar ul#main_nav li a:hover {
    color: #000000;
}

div#right {
    width: 700px;
    height: 500px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: 15%;
}

div#bg_img {
    background-color: black;
    width: 100%;
    height: 90%;
    background-size: cover;
}

div#bg_img div#hover_title {
    visibility: hidden;
    line-height: 400px;
    font-size: 46px;
    opacity: 0.6;
    text-align: center;
    color: #FFFFFF;
    background-color: #0f0f0f;
    height: 100%;
    width: 100%;
}

div#bg_img:hover div#hover_title {
    visibility: visible;
}

ul#gallery_nav {
    margin: 0;
    margin-top: 5px;
    padding: 0;
    text-align: right;
}

ul#gallery_nav li.button {
    display: inline;
    margin-left: 10px;
    text-decoration: none;
    color: #b5b5b5;
    font-size: 14px;
}

ul#gallery_nav li.button:hover {
    cursor: pointer;
    color: #000000;
}

ul#gallery_nav li.dot {
    border-radius: 100%;
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #b5b5b5;
    margin-top: -1px;
    margin-left: 4px;
    margin-right: 4px;
    vertical-align: middle;
}

ul#gallery_nav li.dot:hover {
    cursor: pointer;
    background-color: #000000;
}

ul#gallery_nav li#dot0 {
    margin-left: 10px;
}

ul#photo_album_list li {
    margin-left: -15px;
}

div#photo_grid {
    margin-left: auto;
    margin-right: 260px;
    width: 610px;
    height: 530px;
}

div#photo_grid div.gallery_preview {
    width: 280px;
    display: inline-block;
    height: 240px;
    margin: 10px;
    background-color: #000000;
}

/*for Mobile/Tablet Users*/
@media screen and (max-width: 768px) {
    h1, h1 a {
        margin-left: auto;
    }
    nav#nav_bar ul#main_nav {
        float: left;
        margin-top: 10px;
    }
    nav#nav_bar ul#main_nav li a:hover {
        color: #000000;
        padding-left: 0px
    }
    nav#nav_bar ul#photo_album_list li {
        display: none;
    }
    nav#nav_bar {
        margin-left: auto;
        height:auto;
        width: 105%;
        background-color: #b5b5b5;
    }
    nav#nav_bar ul li{
        float: left;
        color: #ffffff;
        letter-spacing: -3px;
        padding-right: 5px;
    }
    nav#nav_bar ul#main_nav li a {
        font-size: 22px;
        padding-left: 2px;
        color: #ffffff;
    }
    div#right {
        width: auto;
        margin-right: auto;
    }
    div#bg_img {
        height: 400px;
        background-size: 115%;
        background-repeat:no-repeat;
    }
    div#bg_img div#hover_title {
        line-height: normal;
        margin-top: 50px;
    }
    div#main_nav {
        margin-left: auto;
        margin-right: auto;
    }
    ul#photo_album_list {
        display: table-cell;
    }
    div#photo_grid div.gallery_preview {
        width: 100%;
    }
    
}

/*
so nav bar doesn't flow on content
*/
@media screen and (min-width: 769px) and (max-width: 1099px){
    nav#nav_bar {
        margin-left: auto;
    }
    div#right {
        margin-right: auto;
    }
}
ul#gallery_nav li#dot0 {
    margin-left: 10px;
}

ul#photo_album_list li {
    margin-left: -15px;
}

div#photo_grid div.gallery_preview p {
    text-align: right;
    margin-top: 75%;
    font-size: 20px;
    color: #FFFFFF;
    background-color: gray;
    opacity: 0.8;
    width: 100%;
}

div#photo_grid div.gallery_preview span {
    visibility: hidden;
}

div#photo_grid div.gallery_preview:hover {
    opacity: 1;
}

div#photo_grid div.gallery_preview:hover span {
    visibility: visible;
}

ul#video_list li {
    margin-left: -15px;
}

div#aboutSeth img {
    width: 330px;
    height: auto;
    margin-top: 50px;
    margin-left: 25px;
}

div#aboutSeth p{
    width: 35%;
    margin-top: -200px;
    margin-right: 95px;
    margin-left: auto;
    font-size: 15px;
}

div#film_grid {
    width: 685px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 20%;
}

div#film_grid div#video_area {
    background-color: #000000;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    height: 385px;
}

div#film_grid div#video_area p {
    text-align: left;
    margin-top: 40%;
    font-size: 35px;
    color: #FFFFFF;
    background-color: gray;
    width: 100%;
    opacity: 0.8;
}

div#film_grid div.video_rect:hover {
    cursor: pointer;
}

div#film_grid div.video_thumbnail {
    background-color: black;
    display: inline-block;
    width: 218px;
    height: 123px;
    margin-left: 10px;
}

div#film_grid div#thumbnail0 {
    margin-left: 0;
}

div#film_grid div#thumbnail2 {
    margin-right: 0;
}

div#contact {
    margin-left: 400px;
    margin-top: 50px;
}
div#contact div {
    width: 600px;
    padding: 5px;
}
div#contact div p {
    font-size: 15px;
    display: inline;
    margin: 15px;
    vertical-align: 170%;
}
div#contact div a {
    text-decoration: none;
}
/*for Mobile/Tablet Users*/
@media screen and (max-width: 768px) {
    div#film_grid {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 10px;
    }
    div#film_grid div#video_area {
        margin-top: 0px;
        margin-bottom: 5px;
        max-width: 685px;
        height: 100%;
        max-height: 385px;
    }
    div#film_grid div.video_thumbnail {
        width: 100%;
        opacity: 0.8;
        margin-bottom: 5px;
        margin-left: 0px;
        height: 200px;
    }
    div#contact div p {
        display: none;
    }
    div#contact {
        width: 270px;
        margin: auto;
        display: block;
    }
    div #contact div {
        width: auto;
        height: auto;
        padding: 6px;
        display: inline-block;
    }
}
@media screen and (min-width: 769px) and (max-width: 1270px){
    div#film_grid {
        margin-right: 8%;
        width: 600px;
    }
    div#film_grid div.video_thumbnail {
        width: 190px;
        height: 100px;
        margin-left: 5px;
    }
}















